sudo: required
language: bash

services:
  - docker

install:
  - git clone -b sonar https://github.com/RogerAbyss/ADocker.git ~/ADocker

script:
  - docker images
  - docker-compose -f ~/ADocker/sonar/docker-compose.yml up &
  - for ((i=1; i<=300; i++)) { sleep 1; if docker ps -aqf "ancestor=postgres" | xargs docker logs 2>&1 | grep "ready to accept connections" &> /dev/null && docker ps -aqf "ancestor=asonarqube" | xargs docker logs 2>&1 | grep "Process\[web\] is up" &> /dev/null; then return 0; fi } && return 1
  - curl -s -w "%{http_code}\\n" "http://localhost:8102/" -o /dev/null | grep "200\|302" &> /dev/null

after_success:
  - echo "---------- Docker orchestration succeeded! ----------"

after_failure:
  - echo "---------- Docker orchestration failed! ----------"

branches:
  only:
    - sonar